@(user:UserMore,msg:String)
@head={
    <link href="@SystemApplication.STATIC_URL/css/amend.css" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/userChange.js" ></script>
    }
@body={
<div class="container reg-cont">
    <div class="reg reg-xg">
	      <div class="tx">
	            <img src="@SystemApplication.STATIC_URL@user.photo_url.trim()" id="photoUrl">
	      </div>
	      <div class="login-regbox">
        	<form id="changeForm" method="post" action="/changeFormSubmit" enctype="multipart/form-data" >
            <div class="row row-reg">        
                <span class="s1 col-md-2 col-xs-12">账号 : </span>
                <input maxlength="64" class="ipt-r1 ipt-xg1 col-md-9 col-xs-11" placeholder="Email" onkeyup="while(value.replace(/[^\x00-\xff]/g, '**').length>maxLength)value=value.slice(0,-1)" 
                type="text" onblur="checkEmail()" onfocus="onChange()" id="email" name="email" value="@user.email.trim()">
            </div>
        
            <div class="row row-reg">        
                <span class="s1 col-md-2 col-xs-12">昵称 : </span>
                <input class="ipt-r1 ipt-add ipt-xg1 col-md-9 col-xs-11 " placeholder="2至10个字符" type="text" value="@Html(user.nickname.trim())"
                id="nickname" name="nickname" onblur="checkLength()" onfocus="onChange()">
            </div>
          
            <div class="row row-reg row-reg2">
                <span class="s1 s-3 xb col-md-2 col-xs-2">性别 : </span>
                <div class="form1 col-md-9 col-xs-8">
                	@if(user.gender=="M"){
                	<input class="radio-ipt" type="radio" name="gender" id="M" value="M" checked="checked"> 男
                    <input class="radio-ipt radio-ipt2" type="radio" name="gender" id="F" value="F"> 女
                	}else{
                	<input class="radio-ipt" type="radio" name="gender" id="M" value="M"> 男
                    <input class="radio-ipt radio-ipt2" type="radio" name="gender" id="F" value="F" checked="checked"> 女
                    }
                </div>      
            </div>
        
            <div class="row row-reg">
                <span class="s1 col-md-2 col-xs-12">生日 : </span>
                <input maxlength="10" placeholder="YYYY-MM-DD" type="text" class="bir-ipt bir-xg col-md-9 col-xs-11" value="@user.birthday"
                id="myDate" name="birthday" onblur="checkBirthday()" onfocus="onChange()"/>  
                <input type="hidden" value="@user.birthday" id="birthdayOld">
            </div>
            
            <input class="pull-left" type="hidden" id="id" name="id" value="@user.id" >
            
            <div class="row row-reg row-xg clearfix">
                <span class="s1 col-md-2 pull-left">更改头像 : </span>
                <div class="form-group ipt-file col-md-9 col-xs-3 pull-left">
                	<input id="iptFile"  type="text" class="txt"  value="">
                  	<input type="button" value="浏览..." class="ipt-btn">                                
                    <input class="file" type="file" id="inputfile" name="inputfile" onchange="handleFiles(this)"/>
                </div>
            </div>
            
            </form>
        </div>
        <div class="cuowu">
            @if(msg!=null && msg!=""){
            <font color="red" id="errorMsg">@msg</font>
            }else{
            <font color="red" id="errorMsg"></font>
            }
        </div>
        <div class="xg-add clearfix">
        <a class="ipt-login btn-xg" href="javascript:void(0)" onclick="submitForm()">保存修改</a>
        </div>
    </div>
</div>  
}  
@admin(head) {
    @header()
	@body
}
