@()
<nav class="navbar navbar-default navbar-fixed-top nav-top-sy" role="navigation">
    <div class="container">
        <!-- 768px以下出现响应式-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:void(0);" style="display: block" class="namepop" onclick="show();">
                <img class="logoimg" src="@Systemcontents.STATIC_URL/img/yhu.png"></img>
            </a>
            <div id="name" class="mobilepop">
                <img src="@Systemcontents.STATIC_URL/img/arrow2.png">
				<span>
					<a href="/toUserDetail">用户中心</a>
				</span>
				<span>
					<a href="/toUserChange/change">信息修改</a>
				</span>
				<span>
					<a href="/index">充值记录</a>
				</span>
				<span class="last">
					<a href="/loginOut">退出</a>
				</span>
            </div>
            <a class="navbar-brand navbar-logo" href="/">
                <img src="@Systemcontents.STATIC_URL/img/logo.png">
            </a>
        </div>

        <!-- 导航条 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-ul">
                <li><a href="@Systemcontents.INDEX_PAGE/game-all">游戏</a></li>
                <li><a href="@Systemcontents.INDEX_PAGE/notice">公告</a></li>
                <li><a href="@Systemcontents.INDEX_PAGE/activity">活动</a></li>
                <li><a href="@Systemcontents.BILLING_PAGE/recharge">充值</a></li>
                <li><a href="@Systemcontents.INDEX_PAGE/customerservice">客服</a></li>
                <li class="l8" id="nav_userinfo_id">
                    <form
                            class="clearfix navbar-form navbar-left navbar-form-sy clearfix"
                            role="search">
                        <button onclick="poptck()" type="button"
                                class="btn btn-default btn-s1 btn-add btn-add2">
                            <img src="@Systemcontents.STATIC_URL/img/yhu.png"></img> <span id="headerNickName"></span>
                        </button>
                        <button onclick="loginOut()" type="button"
                                class="btn btn-default btn-s1">退出</button>
                    </form>
                    <div class="tck" id="tck" style="display: none;">
                        <img src="@Systemcontents.STATIC_URL/img/arrow2.png">
						<span>
							<a href="/toUserDetail">用户中心</a>
						</span> 
						<span> <a href="/toUserChange/change">信息修改</a>
						</span> 
						<span class="last"> 
						<a href="/index">充值记录</a>
						</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">

function poptck(){
	document.getElementById('tck').style.display = ( document.getElementById('tck').style.display != 'block' ? 'block' : 'none' );
}

function show(){
	document.getElementById('name').style.display = ( document.getElementById('name').style.display != 'block' ? 'block' : 'none' );
}
function loginOut(){
	window.location.href="/loginOut";
}
$(document).ready(function(){$.ajax({
        type:"GET",
        url:"/getUserName",
        success:function(data){
        	if(data['if']){
        		document.getElementById("headerNickName").innerHTML=data['back']
        	}
		 }
 	});
});
</script>