@(url:String)
@head ={
    <link href="@Systemcontents.STATIC_URL/css/reg.css" rel="stylesheet">
    <link href="@Systemcontents.STATIC_URL/css/prompt.css" rel="stylesheet">
    <script type="text/javascript" src="assets/js/userReg.js"></script>
     <style>
    	.add-input{
    		width:90%;margin:0 auto 10px;
    	}
    	.add-input span{
    		width:20%;display:inline-block;color:#656566;font-size:16px;
    	}
    	.add-input input{
    		width:60%;height:47px;border:1px solid #c9c9c9;
    	}
    	.add-input img{
    		width:20%;height:47px;vertical-align:top;
    	}

    	@@media (max-width:768px) {
    		.add-input{
    			width:96%;margin:0 auto 10px;
	    	}
	    	.add-input span{
	    		width:100%;display:inline-block;color:#656566;font-size:14px;margin:10px 0 3px 0;
	    	}
	    	.add-input input{
	    		width:70%;height:35px;border:1px solid #c9c9c9;font-size:12px;
	    	}
	    	.add-input img{
	    		width:30%;height:35px;vertical-align:top;
	    	}
    	}
    </style>
}
@body ={
<form method="post" id="regForm" action="/regSubmit">
<div class="container reg-cont">
    <div class="reg clearfix">
        <div class="topbar clearfix"><!--colose2.png更换-->
            <a href="/index"><img class="pull-left img1" src="@Systemcontents.STATIC_URL/img/small-logo.png" alt=""></a>
            <a href="javascript:window.history.go(-1)"><img class="pull-right img2" src="@Systemcontents.STATIC_URL/img/close2.png" alt=""></a>
        </div>
        <input type="hidden" id="url" name="url" value="@url">
        <div class="row row-reg">
            <span class="s1 col-md-3 col-xs-12">手机号码 : </span>
            <input class="ipt-r1 col-md-5 col-xs-8" type="number" id="phoneNum" name="phoneNum" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="11"  onfocus="onPhone()">
            <button onclick="sendCode()" class="a1 col-md-4 col-xs-4" type="button" id="codeButton">获取验证码</button>
        </div>
        <div class="add-input">
        	<span>图形验证码 : </span><input id="imageCode" name="imageCode" value="" placeholder="请输入图形验证码，看不清点击验证码换一张"><img src="/getImageCodes/@Math.round(Math.random()*1000000)" onclick="getImageCode()" id="imageCodeImage">
        </div>
        <div class="row row-reg">
            <span class="s1 col-md-3 col-xs-12">验证码 : </span>
            <input class="ipt-r1 ipt-ry col-md-5 col-xs-11" type="number" id="code"  name="code" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="6" onfocus="onPhone()">
            <!--<div class="xin col-md-4 col-xs-1">*</div>-->
            <div style="display: none;" class="row-box col-md-4 col-xs-1" id="codeDiv">
               <img class="img1" src="@Systemcontents.STATIC_URL/img/th.png" alt="" id="codeImg">
            </div>
	        <div id="errorMsg" class="reg-false" style="display: none;"></div>
        </div>
        <div class="agree-box">
            <input class="check" type="checkbox" id="agree" name="agree"> 同意并阅读《5游网用户协议》
        </div>
        <button class="ipt-login" onclick="regSubmit()" type="button" >注册并登录</button>
    </div>
</div>
</form>

<div class=“prom-box” style="display: none;" id="completeForm">
	<div class="prom-pop"></div>
	<div class="prom-main">
		<img src="@Systemcontents.STATIC_URL/img/p-logo.jpg">
		<span class="s1">注册成功</span>
		<span class="s2">为了您的账户安全，请点击确定完善您的个人信息。</span>
		<div class="prom-btn clearfix">
			<a class="a1" href="@url">取消</a>
			<a class="a2" href="/toUserChange/change">确定</a>
		</div>
	</div>
</div>
}

@admin(head) {
	@body
}
